#appBg {
    
    height: 30rem;
    width: 20rem;
    background-color: aquamarine;
    border-radius: 0.5rem;

}
#appBg form {
    
    height: 100%;
    width: 100%;
    background-color: black;

}
#appBg input[type=textfield]{
    width:100%;

}