#appBg {
    height: 26rem;
    width: 19rem;
    background-color: aquamarine;
    border-radius: 0.5rem;

}
#appBg form {
    
    height: 100%;
    width: 100%;
    background-color: black;

}
#appBg input[type=textfield]{
    height: 25%;
    width: 89%;
    cursor: default;
    font-family: "Supermercado One", sans-serif;
    background-color: black;
    color: azure;
    padding: 1rem;
    text-align: right;
    font-size: 5rem;
    border: 0;
    outline: none;

}

#appBg input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: "Supermercado One", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color:white;
    padding: 0.8rem;
    margin: 0.15rem;
    border:0;
    border-radius: 100%;

}

#appBg .orange {
    background-color: orange;
}
#appBg .gray {
    background-color: gray;   
}